body {
    font-family: Arial;
    font-size: 300%;
}

header {
    background-color: lightblue;
}

nav {
    background-color: green;
}

main {
    background-color: lightgrey;
    font-size: 150%;
}

footer {
    background-color: lightgreen;
}

li {
    display: inline-block;
    width: 50vw;
}

h1 {
    text-align: center;
    font-family: Courier;
    color: #003366;
}

p {
    line-height: 200%;
}